modules = ["dotnet", "dotnet-8.0"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FormPlay Server"

[[workflows.workflow]]
name = "FormPlay Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run --urls=\"http://0.0.0.0:5000\""
waitForPort = 5000

[deployment]
run = ["sh", "-c", "dotnet run --urls=\"http://0.0.0.0:5000\""]

[[ports]]
localPort = 5000
externalPort = 80
